DB_NAME='asset'
DB_USER='postgres'
DB_PASSWORD='postgres'

WEB_PORT=2000
REDIS_PORT=2001
PGADMIN_PORT=2002
POSTGRES_PORT=2003

PGADMIN_DEFAULT_EMAIL='admin@admin.com'
PGADMIN_DEFAULT_PASSWORD='changeme'

BASE_URL='http://localhost'
ADMIN_EMAIL='admin@admin.com'
    
VERIFICATION_PATH="tenants/activate-tenant/" 
PASSWORD_RESET="accounts/reset-password/" 

EMAIL_CODE_DURATION_IN_MINUTES=15
ACCESS_TOKEN_DURATION_IN_MINUTES=60
REFRESH_TOKEN_DURATION_IN_MINUTES=600
PASSWORD_RESET_TOKEN_DURATION_IN_MINUTES=15
ACCOUNT_VERIFICATION_TOKEN_DURATION_IN_MINUTES=15

TWILIO_PHONE_NUMBER='+16196584362'
TWILIO_AUTH_TOKEN='7b6c506ee07337cc3d02536d5119c4b2'
TWILIO_ACCOUNT_SID='AC959cbde01aced5669b0121ffea2df117'

MAIL_USERNAME="829e507086a9d9"
MAIL_PASSWORD="e6e1d4fe2a31d3"
MAIL_FROM="24f1b64c17-23fda3@inbox.mailtrap.io"
MAIL_PORT=2525
MAIL_SERVER="smtp.mailtrap.io"
MAIL_FROM_NAME="eAsset"
MAIL_TLS=True
MAIL_SSL=False
USE_CREDENTIALS=True
VALIDATE_CERTS=True
DEFAULT_MAIL_SUBJECT="SOME DEFAULT SUBJECT HERE"

APS_COALESCE=False
APS_MAX_INSTANCES=20
APS_MISFIRE_GRACE_TIME=4
APS_THREAD_POOL_MAX_WORKERS=20
APS_PROCESS_POOL_MAX_WORKERS=5

USE_S3=False
AWS_ACCESS_KEY_ID="AKIAQFCNVCREKTZTA2V2"
AWS_SECRET_ACCESS_KEY="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"
AWS_DEFAULT_ACL="public-read"
AWS_STORAGE_BUCKET_NAME="asset-dev-1990"
AWS_S3_OBJECT_CACHE_CONTROL="max-age=86400"

REDIS_HOST="127.0.0.1"
REDIS_PORT="6379"
REDIS_PASSWORD=''
REDIS_USER=''
REDIS_NODE="0" 
REDIS_MAX_RETRIES=3
REDIS_RETRY_INTERVAL=10
