DATABASE_URL=postgres://postgres:postgres@0.0.0.0:8888/asset
ADMIN_EMAIL=DATABASE_URL=postgres://postgres:postgres@0.0.0.0:8888/asset
ADMIN_EMAIL='asdasd@ASDasd.dcd'
BASE_URL='http://127.0.0.1:8000'
API_KEY='jasmine'
RESET_PASSWORD_PATH=reset
ACCOUNT_ACTIVATION_PATH=activate

