<------APP------>
API_KEY=jasmine
RESET_PASSWORD_PATH=reset
ADMIN_EMAIL=admin@admin.com
BASE_URL=http://127.0.0.1:8000
ACCOUNT_ACTIVATION_PATH=activate
DATABASE_URL=postgres://postgres:postgres@0.0.0.0:8888/asset
MAIL_USERNAME="a9f521690f65a4"
MAIL_PASSWORD="11480b2eec8121"
MAIL_FROM="elisegb-49cabc@inbox.mailtrap.io"
MAIL_PORT=2525
MAIL_SERVER="smtp.mailtrap.io"
MAIL_FROM_NAME="eAsset"
MAIL_TLS=False
MAIL_SSL=False
USE_CREDENTIALS=True
VALIDATE_CERTS=True
DEFAULT_MAIL_SUBJECT="SOME DEFAULT SUBJECT HERE"

<------RABBITMQ------>

<------POSTGRES------>
POSTGRES_PASSWORD=password
POSTGRES_PORT=4040
POSTGRES_DB=asset

<------PGADMIN------>
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=password
PGADMIN_PORT=3030

<------NGINX------>
WEB_PORT=6060