<------APP------>
API_KEY=jasmine
RESET_PASSWORD_PATH=reset
ADMIN_EMAIL=admin@admin.com
BASE_URL=http://127.0.0.1:8000
ACCOUNT_ACTIVATION_PATH=activate

<------RABBITMQ------>

<------POSTGRES------>
POSTGRES_PASSWORD
POSTGRES_DB=asset

<------PGADMIN------>
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=password

<------NGINX------>
WEB_PORT=6060