Babel==2.9.1
jinja2==3.0.1
twilio==7.0.0
fastapi==0.68.1
uvicorn==0.15.0
aiofiles==0.7.0
gunicorn==20.1.0
websockets==10.0
SQLAlchemy==1.4.25
python-dotenv==0.19.0
psycopg2-binary==2.9.1
python-multipart==0.0.5